<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery-tmpl.js"></script>
    <link href="static/css/main.css" rel="stylesheet" type="text/css">
  </head>

  <body style="padding: 100px 10px 0 40px">
      <input id="release_number" type="text"/>
      <input id="release_submit" class="g-button m-button_orange" type="submit" value="Get release info"/>
      
      <div class="suggestions_container" style="display:none;">&nbsp;</div>
      
      <div class="loader">&nbsp;</div>
      <div class="load_error">Error</div>
      
      <div class="table_container" style="display:none;">
          <table>
              <thead>
                  <tr>
                      <th class="head-field">Задача</th>
                      <th class="head-field">Пакеты</th>
                      <th class="head-repo">hh.ru</th>
                      <th class="head-repo">xhh</th>
                      <th class="head-repo">common</th>
                  </tr>
              </thead>
              <tbody id="issues_container">
                  
              </tbody>
          </table>
          <div class="sqls_container">
              
          </div>
      </div>


      <script id="release-suggestion" type="text/x-jquery-tmpl">
          <span class="g-switcher m-switcher_009CD5" style="margin-right:20px;">
              ${data.key} (${data.fields.summary})
          </span>
      </script>

      <script id="sql_template" type="text/x-jquery-tmpl">
          <b>${sql}</b></br>    
      </script>
      
      <script id="issue_template" type="text/x-jquery-tmpl">
        <tr>
            <td style="width:100px;">
                <a href="http://jira.hh.ru/browse/${name}">${name}</a>
            </td> 

            <td>
                {{if data.packages }}
                    ${data.packages}
                {{/if}}
            </td> 
            <td class="table-checkbox">
                <input type="checkbox" {{if data['git_branches']['hh.ru'] }} checked="checked" {{/if}}></input>
            </td>
            <td class="table-checkbox">
                <input type="checkbox" {{if data['git_branches']['xhh'] }} checked="checked" {{/if}}></input>
            </td>
            <td class="table-checkbox">
                <input type="checkbox" {{if data['git_branches']['hh-common'] }} checked="checked" {{/if}}></input>
            </td>
        </tr>
      </script>
      
      <script>
          $(document).ready(function(){
          
              var release_number = $('#release_number'),
                  issues_container = $('#issues_container'),
                  sqls_container = $('.sqls_container'),
                  suggestions_container = $('.suggestions_container'),
                  loader = $('.loader'),
                  error = $('.load_error'),
                  table = $('.table_container');
             
              var onSuccessAjax = function(transport) {
                  issues_container.empty();
                  sqls_container.empty();
                  loader.hide();
                    
                  if (transport.release_variants) {
                      suggestions_container.empty();
                      suggestions_container.show();
                       $.each(transport.release_variants, function(index, release){
                          var suggest_item = $("#release-suggestion").tmpl({data: release});
                          suggest_item.appendTo(suggestions_container);
                          suggest_item.click(function(){
                              get_release(release.key);
                          });
                       });
                  };


                  if (transport.sqls) {
                      $.each(transport.sqls['hh.ru'], function(index, sql){
                          $("#sql_template").tmpl({sql: sql}).appendTo(sqls_container);
                       });
                  };                   
                  
                  if (transport.issues) {
                      table.show();
                      $.each(transport.issues, function(issue, data){
                          $("#issue_template").tmpl({name: issue, data: data}).appendTo(issues_container);
                      });
                  };
              };
              
              var errorAjax = function(transport){
                  loader.hide();
                  error.show();                  
              };
              
              var get_release = function(release){
                  console.log('get_release: ' + release);
                  $.ajax({
                      url: '/ajax/get_release_info',
                      data: {'release': release},
                      success: onSuccessAjax,
                      error: errorAjax
                  });                  
              };
              
              $('#release_submit').click(function(){
                  error.hide();
                  table.hide();
                  loader.show();
                  get_release(release_number.val());
              });
              
          });
      </script>
  </body>
</html>