@import url(button.css);
@import url(switcher.css);

.text-input {
    width: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 14px;
}

.sqls_container{
    margin-top: 40px;    
}

.suggestions_container{
    margin-top: 10px;
}

.table_container {
     margin-top: 20px;
}

    .table_container .head-field{
        min-width: 100px;
        text-align: left;
    }
    
    
    .table_container .head-field:last-child{
        padding-right: 50px;
    }
    

.head-repo {
    min-width: 40px;
    text-align: center;
}

.table-checkbox {
    text-align: center;
}


.loader, 
.load_error {
    height: 66px;
    display: none;    
}

    .loader{
        margin: 30px 0 0 60px;
        background: url('../img/spinner_66x66.gif') top left no-repeat;
    }
    
    .load_error{
        margin: 20px 0 0 50px;
        font-size: 18px;
        color: red;
    }
    
    
